.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 8px;

    position: relative;
    z-index: 999999;
}

li
{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2rem;
}

li a {
    display: inline;
    text-decoration: none;
    color:black;
    z-index: 999999999;
}

.functionalities
{
    display: flex;
    gap: 12px;
    align-items: center;
}

.search, .cart 
{
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    padding: 8px;
    color: var(--primary-color-dark);
}

.login-btn
{
    background: var(--primary-color-dark);
    color: white;
    font-weight: 600;
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 20px;
}